*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

#auth-container{
    background:url('./Images/wave.svg');
}

#sign-up-container{
    /* From https://css.glass */
background: rgba(114, 76, 249, 0.38);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(17.1px);
-webkit-backdrop-filter: blur(17.1px);
border: 1px solid white;
}

#hello-guys{
    font-family: 'Bruno Ace SC', cursive;
}

#sign-up-description{
    font-family: 'Teko', sans-serif;
}

#sign-up-btn{
    /*font-family: 'JetBrains Mono', monospace;*/
    font-family: fantasy;
    border:1px solid black;
    height: 2.2em;
    border-radius: 0.7em;
}

#google-img{
    height:45px;
}