*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

#home-container{
    height: 100vh;
    background-color: #724cf9;
    overflow: hidden;
}

#description{
    width:50vw;
}

#chat-hike{
    font-family: 'Bebas Neue', cursive;
    color: white;
}

#chat-hike-description{
    font-family: 'Orbitron', sans-serif;
}

@media screen and (max-width:700px){
    #home-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    #chat-hike-description{
        display: none !important;
    }
    #chat-hike{
        font-size: 4rem;
    }
    #description{
        width: auto;
        padding: 0;
    }
    #hike-holder{
        padding: 29px;
    }
}